Repository junhee0110/DAYONE_Web, pull requests merged in 2021-07, with the labels that each got.

#12 메인 페이지 세부 디자인 적용
  BackEnd/DAYONE_web/DAYONE_web/__pycache__/__init__.cpython-38.pyc
  BackEnd/DAYONE_web/DAYONE_web/__pycache__/settings.cpython-38.pyc
  BackEnd/DAYONE_web/DAYONE_web/__pycache__/urls.cpython-38.pyc
  BackEnd/DAYONE_web/DAYONE_web/__pycache__/wsgi.cpython-38.pyc
  BackEnd/DAYONE_web/mainpage/__pycache__/__init__.cpython-38.pyc
  BackEnd/DAYONE_web/mainpage/__pycache__/admin.cpython-38.pyc
  BackEnd/DAYONE_web/mainpage/__pycache__/apps.cpython-38.pyc
  BackEnd/DAYONE_web/mainpage/__pycache__/models.cpython-38.pyc
  BackEnd/DAYONE_web/mainpage/__pycache__/urls.cpython-38.pyc
  BackEnd/DAYONE_web/mainpage/__pycache__/views.cpython-38.pyc
  BackEnd/DAYONE_web/mainpage/migrations/__pycache__/__init__.cpython-38.pyc
  BackEnd/DAYONE_web/mainpage/static/mainpage/assets/room_img.png
  BackEnd/DAYONE_web/mainpage/static/mainpage/style.css
  BackEnd/DAYONE_web/mainpage/templates/mainpage/index.html
  FrontEnd/mainpage/assets/room_img.png
  FrontEnd/mainpage/index.html
  FrontEnd/mainpage/style.css
Labels: Part: Back-End, Part: Front-End, Result: Accepted, Status: Done

#14 Django calendar app 추가 & media files 관련 세팅
  BackEnd/DAYONE_web/DAYONE_web/__pycache__/__init__.cpython-39.pyc
  BackEnd/DAYONE_web/DAYONE_web/__pycache__/settings.cpython-39.pyc
  BackEnd/DAYONE_web/DAYONE_web/__pycache__/urls.cpython-39.pyc
  BackEnd/DAYONE_web/DAYONE_web/__pycache__/wsgi.cpython-39.pyc
  BackEnd/DAYONE_web/DAYONE_web/settings.py
  BackEnd/DAYONE_web/DAYONE_web/urls.py
  BackEnd/DAYONE_web/calendarpage/__init__.py
  BackEnd/DAYONE_web/calendarpage/__pycache__/__init__.cpython-39.pyc
  BackEnd/DAYONE_web/calendarpage/__pycache__/admin.cpython-39.pyc
  BackEnd/DAYONE_web/calendarpage/__pycache__/apps.cpython-39.pyc
  BackEnd/DAYONE_web/calendarpage/__pycache__/models.cpython-39.pyc
  BackEnd/DAYONE_web/calendarpage/__pycache__/urls.cpython-39.pyc
  BackEnd/DAYONE_web/calendarpage/__pycache__/views.cpython-39.pyc
  BackEnd/DAYONE_web/calendarpage/admin.py
  BackEnd/DAYONE_web/calendarpage/apps.py
  BackEnd/DAYONE_web/calendarpage/migrations/__init__.py
  BackEnd/DAYONE_web/calendarpage/migrations/__pycache__/__init__.cpython-39.pyc
  BackEnd/DAYONE_web/calendarpage/models.py
  BackEnd/DAYONE_web/calendarpage/static/calendarpage/index.js
  BackEnd/DAYONE_web/calendarpage/static/calendarpage/style.css
  BackEnd/DAYONE_web/calendarpage/templates/calendarpage/index.html
  BackEnd/DAYONE_web/calendarpage/tests.py
  BackEnd/DAYONE_web/calendarpage/urls.py
  BackEnd/DAYONE_web/calendarpage/views.py
  BackEnd/DAYONE_web/mainpage/__pycache__/__init__.cpython-39.pyc
  BackEnd/DAYONE_web/mainpage/__pycache__/admin.cpython-39.pyc
  BackEnd/DAYONE_web/mainpage/__pycache__/apps.cpython-39.pyc
  BackEnd/DAYONE_web/mainpage/__pycache__/models.cpython-39.pyc
  BackEnd/DAYONE_web/mainpage/__pycache__/urls.cpython-39.pyc
  BackEnd/DAYONE_web/mainpage/__pycache__/views.cpython-39.pyc
  BackEnd/DAYONE_web/mainpage/migrations/__pycache__/__init__.cpython-39.pyc
Labels: Part: Back-End, Status: Reviewing, Type: New

#21 timezone 변경
  BackEnd/DAYONE_web/DAYONE_web/__pycache__/settings.cpython-39.pyc
  BackEnd/DAYONE_web/DAYONE_web/__pycache__/urls.cpython-39.pyc
  BackEnd/DAYONE_web/DAYONE_web/settings.py
  BackEnd/DAYONE_web/calendarpage/__pycache__/__init__.cpython-39.pyc
  BackEnd/DAYONE_web/calendarpage/__pycache__/admin.cpython-39.pyc
  BackEnd/DAYONE_web/calendarpage/__pycache__/apps.cpython-39.pyc
  BackEnd/DAYONE_web/calendarpage/__pycache__/models.cpython-39.pyc
  BackEnd/DAYONE_web/calendarpage/__pycache__/urls.cpython-39.pyc
  BackEnd/DAYONE_web/calendarpage/__pycache__/views.cpython-39.pyc
  BackEnd/DAYONE_web/calendarpage/migrations/__pycache__/__init__.cpython-39.pyc
Labels: Part: Back-End, Status: Reviewing, Type: Enhancement

#27 gitignore 수정
  .gitignore
  BackEnd/DAYONE_web/DAYONE_web/__pycache__/__init__.cpython-38.pyc
  BackEnd/DAYONE_web/DAYONE_web/__pycache__/__init__.cpython-39.pyc
  BackEnd/DAYONE_web/DAYONE_web/__pycache__/settings.cpython-38.pyc
  BackEnd/DAYONE_web/DAYONE_web/__pycache__/settings.cpython-39.pyc
  BackEnd/DAYONE_web/DAYONE_web/__pycache__/urls.cpython-38.pyc
  BackEnd/DAYONE_web/DAYONE_web/__pycache__/urls.cpython-39.pyc
  BackEnd/DAYONE_web/DAYONE_web/__pycache__/wsgi.cpython-38.pyc
  BackEnd/DAYONE_web/DAYONE_web/__pycache__/wsgi.cpython-39.pyc
  BackEnd/DAYONE_web/calendarpage/__pycache__/__init__.cpython-38.pyc
  BackEnd/DAYONE_web/calendarpage/__pycache__/__init__.cpython-39.pyc
  BackEnd/DAYONE_web/calendarpage/__pycache__/admin.cpython-38.pyc
  BackEnd/DAYONE_web/calendarpage/__pycache__/admin.cpython-39.pyc
  BackEnd/DAYONE_web/calendarpage/__pycache__/apps.cpython-38.pyc
  BackEnd/DAYONE_web/calendarpage/__pycache__/apps.cpython-39.pyc
  BackEnd/DAYONE_web/calendarpage/__pycache__/models.cpython-38.pyc
  BackEnd/DAYONE_web/calendarpage/__pycache__/models.cpython-39.pyc
  BackEnd/DAYONE_web/calendarpage/__pycache__/urls.cpython-38.pyc
  BackEnd/DAYONE_web/calendarpage/__pycache__/urls.cpython-39.pyc
  BackEnd/DAYONE_web/calendarpage/__pycache__/views.cpython-38.pyc
  BackEnd/DAYONE_web/calendarpage/__pycache__/views.cpython-39.pyc
  BackEnd/DAYONE_web/calendarpage/migrations/__pycache__/__init__.cpython-38.pyc
  BackEnd/DAYONE_web/calendarpage/migrations/__pycache__/__init__.cpython-39.pyc
  BackEnd/DAYONE_web/mainpage/__pycache__/__init__.cpython-38.pyc
  BackEnd/DAYONE_web/mainpage/__pycache__/__init__.cpython-39.pyc
  BackEnd/DAYONE_web/mainpage/__pycache__/admin.cpython-38.pyc
  BackEnd/DAYONE_web/mainpage/__pycache__/admin.cpython-39.pyc
  BackEnd/DAYONE_web/mainpage/__pycache__/apps.cpython-38.pyc
  BackEnd/DAYONE_web/mainpage/__pycache__/apps.cpython-39.pyc
  BackEnd/DAYONE_web/mainpage/__pycache__/models.cpython-38.pyc
  BackEnd/DAYONE_web/mainpage/__pycache__/models.cpython-39.pyc
  BackEnd/DAYONE_web/mainpage/__pycache__/urls.cpython-38.pyc
  BackEnd/DAYONE_web/mainpage/__pycache__/urls.cpython-39.pyc
  BackEnd/DAYONE_web/mainpage/__pycache__/views.cpython-38.pyc
  BackEnd/DAYONE_web/mainpage/__pycache__/views.cpython-39.pyc
  BackEnd/DAYONE_web/mainpage/migrations/__pycache__/__init__.cpython-38.pyc
  BackEnd/DAYONE_web/mainpage/migrations/__pycache__/__init__.cpython-39.pyc
Labels: Part: Back-End, Status: In progress, Type: Documentation

#30 [BACKEND] 예약 페이지, 메인 페이지 href 연결
  BackEnd/DAYONE_web/calendarpage/urls.py
  BackEnd/DAYONE_web/mainpage/static/mainpage/style.css
  BackEnd/DAYONE_web/mainpage/templates/mainpage/index.html
  BackEnd/DAYONE_web/mainpage/urls.py
  BackEnd/DAYONE_web/static/back.css
  BackEnd/DAYONE_web/templates/base.html
  BackEnd/DAYONE_web/templates/main.html
Labels: Part: Back-End, Result: Accepted, Status: Done, Type: Enhancement

#36 calendarpage model 수정
  BackEnd/DAYONE_web/calendarpage/admin.py
  BackEnd/DAYONE_web/calendarpage/migrations/0002_auto_20210731_0007.py
  BackEnd/DAYONE_web/calendarpage/models.py
Labels: Part: Back-End, Status: Reviewing, Type: Enhancement
